<header>
  <div class="logo">
    <h1>The Pizza App</h1>
  </div>
  <nav>
    <ul>
      <li>
        <a routerLink="/cart" routerLinkActive="router-link-active">Cart</a>
      </li>
      <li>
        <a routerLink="/orders" routerLinkActive="router-link-active">Orders</a>
      </li>
      <li>
        <a routerLink="/login" routerLinkActive="router-link-active">Login</a>
      </li>
      <li>
        <a routerLink="/sign-in" routerLinkActive="router-link-active"
          >Sign In</a
        >
      </li>
    </ul>
  </nav>
</header>
